@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vat Verifier</h1>
    <div>
        <span>Check if supplied VAT is correct.</span>
    </div>
</div>
